.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
  & .gallery-item {
    margin-top: 50px;
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
  }
}

.gallery-info {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.gallery-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.gallery-link {
  display: block;
  text-decoration: none;
  &:hover, &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.gallery-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-text-color);
}
.gallery-top-wrapper{
position: relative;
overflow: hidden;
}
.gallery-item:hover {
  & .gallery-top-text {
  transform: translateY(0);
  }
}
.gallery-top-text {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  line-height: 1.5;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}