.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  & .link {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    padding: 32px 0px 32px 0px;
    display: inline-flex;
    align-self: start;
    justify-content: center;
  }
}
.contact-link {
  align-items: center;
  display: inline-flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  color: var(--accent-color);
}
}

.contact-mail-icon {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}
.contact-tel-icon {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}
.contact-item{
  &:not(:first-child) {
  margin-left: 50px;
  }
}